.article__section2 {
  box-sizing: border-box;
  max-width: 1081px;
  min-height: 2865px;
  margin-bottom: 50px;
}

.section2__title {
  box-sizing: border-box;
  font-size: 36px;
  font-weight: 900;
  line-height: 120%;
  letter-spacing: 0;
  text-align: left;
  margin-bottom: 30px;
}

.section2__paragraph {
  box-sizing: border-box;
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0;
  text-align: left;
  margin-bottom: 30px;
}

.section2__paragraph:nth-of-type(2) {
  margin-bottom: 31px;
}

.section2__paragraph:nth-last-of-type(1) {
  margin-bottom: 0;
}

.section2__figure1 {
  box-sizing: border-box;
}

.figure1__img1 {
  box-sizing: border-box;
  margin-right: 1px;
  margin-bottom: 30px;
}

.figure1__img2 {
  box-sizing: border-box;
  margin-left: 239.56px;
  margin-bottom: 30px;
}

.section2__figure2 {
  box-sizing: border-box;
  border: 1px solid black;
  margin-bottom: 30px;
}

.figure2__text {
  box-sizing: border-box;
  color: rgb(94, 94, 94);
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0;
  text-align: left;
  margin-bottom: 15px;
  padding-left: 30px;
}

.figure2__img3 {
  box-sizing: border-box;
  margin-bottom: 15px;
}

.section2__img4 {
  box-sizing: border-box;
  margin-left: 56.9px;
  margin-bottom: 30px;
}

.section2__img5 {
  box-sizing: border-box;
  margin-left: 27.95px;
  margin-bottom: 30px;
}