.article__section4 {
  border-radius: 10px;
  background: rgb(241, 241, 241);
  padding: 25px 30px 25px 45px;
}

.section4__title {
  font-size: 44px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 20px;
}

.section4__list {
  margin-bottom: 30px;
}

.section4-list__item {
  margin-bottom: 10px;
}

.section4-list__item:nth-last-of-type(1) {
  margin-bottom: 0;
}

